<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />

<f:section name="main">
<div class="widget-ctypes table-responsive">
    <table class="widget-ctypes-table table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Inhaltselement</th>
                <th scope="col">(Plugin)</th>
                <f:for each="{allLanguages}" key="languageId" as="language">
                    <f:if condition="{language.flagIdentifier}">
                        <f:then>
                            <th scope="col" title="{language.title}">
                                <core:icon identifier="{language.flagIdentifier}" size="small" />
                            </th>
                        </f:then>
                        <f:else>
                            <th scope="col" title="{language.title}">{language.twoLetterIsoCode}</th>
                        </f:else>
                    </f:if>
                </f:for>
            </tr>
        </thead>
        <tbody>
        <f:for each="{allCTypes}" as="ctypeInfo" key="oneCType">
            <tr>
                <f:if condition="{oneCType}=='list'">
                    <f:then>
                        <th scope="row" title="{oneCType}">{f:translate(key: ctypeInfo.name)}</th>
                        <f:for each="{ctypeInfo.listTypes}" key="listType" as="listTypeName">
                            <td>&gt; {listTypeName}</td>
                        </f:for>
                        <f:for each="{ctypes}" as="usedctype" key="label">
                            <f:if condition="{label}=={oneCType} && {listType}=={usedctype.list_type}">
                                <f:for each="{allLanguages}" key="languageId" as="language">
                                    <f:if condition="{usedctype.{languageId}}">
                                        <f:then>
                                            <td>{usedctype.{languageId}}</td>
                                        </f:then>
                                        <f:else>
                                            <td>&nbsp;</td>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        <th scope="row" colspan="2" title="{oneCType}">{f:translate(key: ctypeInfo.name)}</th>
                        <f:variable name="noCounts">true</f:variable>
                        <f:for each="{ctypes}" as="usedctype" key="label">
                            <f:if condition="{label}=={oneCType}">
                                <f:variable name="noCounts">false</f:variable>
                                <f:for each="{allLanguages}" key="languageId" as="language">
                                    <f:if condition="{usedctype.{languageId}}">
                                        <f:then>
                                            <td>{usedctype.{languageId}}</td>
                                        </f:then>
                                        <f:else>
                                            <td>&nbsp;</td>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:if>
                        </f:for>
                        <f:if condition="{noCounts}">
                            <f:for each="{allLanguages}" key="languageId" as="language">
                                <td>&nbsp;</td>
                            </f:for>
                        </f:if>
                    </f:else>
                </f:if>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>

</f:section>

</html>