<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Widget/Dashbash" />

<f:section name="main">

<f:comment><!-- {allLanguages} {allCTypes} --></f:comment>

<f:comment><!--

<div class="widget-ctypes">
    <table class="widget-ctypes-table">
        <thead>
            <tr>
                <th>CType</th>
                <th>(Plugin)</th>
                <f:for each="{usedLanguages}" key="languageId" as="language">
                    <f:if condition="{language.flagIdentifier}">
                        <f:then>
                            <th><core:icon identifier="{language.flagIdentifier}" size="small" /></th>
                        </f:then>
                        <f:else>
                            <th>{language.twoLetterIsoCode}</th>
                        </f:else>
                    </f:if>
                </f:for>
            </tr>
        </thead>
        <tbody>
            <f:for each="{availableCTypes}" as="ctypeInfo" key="availableCType">
                <tr>
                    <f:if condition="{availableCType}=='list'">
                        <f:then>
                            <td>{f:translate(key: ctypeInfo.name)}</td>
                            <f:for each="{ctypeInfo.listTypes}" key="listType" as="listTypeName">
                                <td>&gt; {listTypeName}</td>
                            </f:for>
                            <f:for each="{ctypes}" as="usedctype" key="label">
                                <f:if condition="{label}=={availableCType} && {listType}=={usedctype.list_type}">
                                    <f:for each="{usedLanguages}" key="languageId" as="language">
                                        <f:if condition="{usedctype.{languageId}}">
                                            <f:then>
                                                <td>{usedctype.{languageId}}</td>
                                            </f:then>
                                            <f:else>
                                                <td>&nbsp;</td>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            <td colspan="2">{f:translate(key: ctypeInfo.name)}</td>
                            <f:for each="{ctypes}" as="usedctype" key="label">
                                <f:if condition="{label}=={availableCType}">
                                    <f:for each="{usedLanguages}" key="languageId" as="language">
                                        <f:if condition="{usedctype.{languageId}}">
                                            <f:then>
                                                <td>{usedctype.{languageId}}</td>
                                            </f:then>
                                            <f:else>
                                                <td>&nbsp;</td>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </f:if>
                            </f:for>
                        </f:else>
                    </f:if>
                </tr>
            </f:for>
        </tbody>
    </table>
</div>
--></f:comment>

</f:section>

</html>